.countdown-comment{
    text-align: center;
    font-size: 48px;
}

.countdown-timer{
    text-align: center;
    font-size: 60px;
}

.concept{
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
}

.footer-link{
    text-align: center;
}
