.top-wrapper{

}

.top-wrapper-img{
    width: 100%;
    height: auto;
}

@media screen and(min-width:460px){
    .top-wrapper-img{
        width: 1960px;
        height: auto;
    }

    .countdown-comment{
        font-size: 48px;
    }
}

.countdown-comment{
    text-align: center;
    font-size: 24px;
}

.countdown-timer{
    text-align: center;
    font-size: 60px;
}

.concept{
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
}

.button{
    text-align: center;
    font-size: 24px;
    padding-bottom: 24px;
    padding-top: 24px;
}

.footer-link{
    text-align: center;
}

.font-body{
    font-family: "M PLUS 1p", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}